<main class="index">

<header class="masthead d-flex">
    <div class="container text-center my-auto">
        <h1 class="mb-1 ideas">Maslow Ideas</h1>
        <h3 class="mb-5">
            <em>Éste será tú diario mental</em>
        </h3>
        <a href="/signin" class="btn btn-primary">
        ¿Que nueva idea tienes?
        </a>
        
    </div>
</header>

</main>